:root {
    --border-color: #8055FF;
    --border-radio: #BAD8F5;
}


.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}


.radio_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 4rem;
    border: 0.0625rem dashed var(--border-color);
    box-sizing: border-box;
    border-radius: 0.25rem;
}




.radio__input {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
}


.radio__input-default
{
    appearance: none;
    border: 0.0625rem solid var(--border-radio);
    border-radius: 1rem;
}
